<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="utf-8">
<title>the PALACE | Admin Main</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/main.css}" />

</head>
<body>
	<!-- Header -->
	<header role="header" th:include="thymeleaf/header" id="header">
			    <a href="#menu" class="toggle"><span>메뉴</span></a>
		</header>
	<!-- Nav -->
	<nav id="menu" th:include="thymeleaf/nav"></nav>

<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
							<div class="content">
								<header class="align-center">
									<h2>관리자페이지</h2>
								</header>
							</div>
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img th:src="@{/static/images/applynow.jpg}" width = "300" height = "350"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>부서</h2>
										<p>부서관리</p>
									</header>
									<hr />
									<div class="align-center">
								<a th:href = "@{/dep/list}">목록보기</a>
                                    </div>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img th:src="@{/static/images/lecture.jpg}" width = "300" height = "350"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>직원교육</h2>
										<p>직원교육관리</p>
									</header>
									<hr />
									<div class="align-center">
								<a th:href = "@{/etrn/list}">목록보기</a>
								
                                    </div>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img th:src="@{/static/images/lecture.jpg}" width = "300" height = "350"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>직원</h2>
										<p>채용공고, 지원자, 직원</p>
									</header>
									<hr />
									<div class="align-center">
								<a th:href = "@{/emp/category}">더보기</a>
                                    </div>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img th:src="@{/static/images/lecture.jpg}" width = "300" height = "350"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>강사</h2>
										<p>채용공고, 등록희망서, 강사</p>
									</header>
									<hr />
									<div class="align-center">
								<a th:href = "@{/tch/list}">더보기</a>
								
                                    </div>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img th:src="@{/static/images/lecture.jpg}" width = "300" height = "350"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>임대</h2>
										<p>공간, 임대희망서, 임대계약서</p>
									</header>
									<hr />
									<div class="align-center">
								<a th:href = "@{/rent/category}">더보기</a>
                                    </div>
								</div>
							</div>
						</div>
						
								

					</div>
				</div>
			</section>
	<!-- Footer -->
	<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
	<!-- Scripts -->
	<script th:src=@{/static/assets/js/jquery.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrolly.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{/static/assets/js/skel.min.js}></script>
	<script th:src=@{/static/assets/js/util.js}></script>
	<script th:src=@{/static/assets/js/main.js}></script>
</body>
</html>
