<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>실시간예약</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/static/assets/css/default.css}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" th:href= "@{/static/assets/css/hmain.css}" />
</head>
<body>
		<!-- Header -->
		<header role="header" th:include="thymeleaf/hheader" id="hheader">
			    <a href="#hmenu" class="htoggle"><span>메뉴</span></a>
		</header>

        <!-- Nav -->
        <nav id="hmenu" th:include="thymeleaf/hnav"></nav>
	
	
	
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>실시간 예약 </h1>
			</div>
		</div>
	</div>
	
	
	
		<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li><a href="reservationGuide.html"><font size = "4">실시간예약 </font></a></li>
				<li><a th:href="@{/reservation/guide}"><font size = "4">예약안내 </font></a></li>
				<li><a href="structure.html"><font size = "4">객실배치도 </font></a></li>
			</ul>
			
		</div>
	</div>
	<!-- Table -->
	
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">객실 예약하기 </h2>
					
					<div class="table-wrapper">
						<table>
						
							<thead>
								<tr>
									<th>객실명 </th>
									<th>객실사진 </th>
									<th>이용일 </th>
									<th>인원  </th>
									<th>이용금액  </th>
									<th>실시간예약 </th>
								</tr>
							</thead>
							<tbody>
							<th:block th:each = " dto, cnt : ${lists}" >
								<tr>
									<td>[[${dto.roomName}]]</td>
									<td><img th:src="@{'/static/house/upload/' + ${dto.roomImage}}" height = "50" width = "50"></td>
									<td th:text = "${#dates.format(dto.roomRegist,'yyyy-MM-dd')}" ></td>
									<td>[[${dto.rMaxCount}]]</td>
									<td>[[${dto.roomPrice}]]</td>
									<td><a th:href="@{/reservation/reservationInfo(roomNo=${dto.roomNo})}">
									<input type="button" value="예약하기" id="reservation" class="button" /></a></td> 
								</tr>
								
								</th:block>
							</tbody>
							<tfoot>
								<tr align="center">
									<td colspan="5"><a>1</a></td>
								</tr>
								
							</tfoot>
					
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	
				
					
</form>				
<!-- Footer -->
			<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
			<!-- Scripts -->
			<script th:src=@{/static/assets/js/jquery.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrolly.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
			<script th:src=@{/static/assets/js/skel.min.js}></script>
			<script th:src=@{/static/assets/js/util.js}></script>
			<script th:src=@{/static/assets/js/main.js}></script>
			<script th:src=@{/static/assets/js/house.js}></script></body>
			

<script src="http://code.jquery.com/jquery.min.js"></script>
	
</html>