<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>프로그램 리스트 </title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href= "@{/static/assets/css/default.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href= "@{/static/assets/css/program.css}" />
</head>

<body>
<!-- Header -->
	<header role="pgHeader" th:include="thymeleaf/pgheader" id="pgHeader">
		<a href="#Programnav" class="pgtoggle"><span>메뉴</span></a>
	</header>
	<!-- Nav -->
	<nav id="Programnav" th:include="thymeleaf/Programnav"></nav>
	
	<form th:action="programForm" method="post" enctype="multipart/form-data">
	
	<!-- Table -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<h2 class="align-center">Program List</h2>		
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>프로그램 번호 </th>
									<th>프로그램명 </th>
									<th>등록일 </th>
									<th>강사명 </th>
								</tr>
							</thead>
							<tbody>
							<div th:each = "pro:${prolists}">
								<tr>
									<td>[[${pro.programNo}]]</td>
									<td><a th:href = "@{/program/programDetail?(programNo=${pro.programNo})}">[[${pro.programName}]]</a></td>
									<td><span th:text = "${#dates.format(pro.programReg, 'yyyy-MM-dd')}"></span></td>
									<td>[[${pro.teacherNo}]]</td>	
								</tr>
							</div>
							</tbody>
							<tfoot>
								<tr align="center">
									<td colspan="5"><a>1</a></td>
								</tr>
								<tr align="center">
									<td colspan="5"><a href="javascript:history.go(-1)" class="button">목록으로</a>
									<input value="프로그램 등록하기 " class="button" type="submit"></td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Footer -->
	<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/program.js"></script>
</form>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>


</html>