<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">

<head>
    <title>the Palace|임대희망서심사결과</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/static/assets/css/main.css}" />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header" th:include="thymeleaf/header"></header>

    <!-- Nav -->
    <nav id="menu" th:include="thymeleaf/nav"></nav>

    <!-- Registration Form -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img th:src="@{/static/images/topbanner7.jpg}" alt="" />
                </div>
                    <h2 class="align-center">임대희망서 상세보기</h2>
				<div class="content">
					<div class="row 200%">
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">업체명</label> [[${list.rentalName}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">사업자등록번호</label> [[${list.licenseeNo}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">대표자명</label> [[${list.licenseeCeo}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">대표연락처</label> [[${list.rentalPh}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">담당자명</label> [[${list.prentalName}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">담당자 연락처</label> [[${list.prentalPh}]]
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="rentPlan">공간이용계획서</label> <a
								th:href="@{/rent/fileDown(file=${doc.rentPlan}+'`'+${list.rentalName}+'rentPlan'}">[[${list.rentalName}]]&nbsp;공간이용계획서 다운로드</a>
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="salesPlan">매출계획서</label> <a
								th:href="@{/rent/fileDown(file=${doc.salesPlan}+'`'+${list.rentalName}+'salesPlan'}">[[${list.rentalName}]]&nbsp;매출게획서 다운로드</a>
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="displayPlan">공간연출계획서</label> <a
								th:href="@{/rent/fileDown(file=${doc.displayPlan}+'`'+${list.rentalName}+'displayPlan'}">[[${list.rentalName}]]&nbsp;공간연출계획서 다운로드</a>
						</div>
						<div class="6u 12u$(medium)" style="margin-bottom: 20px">
							<label for="hrPlan">인력계획서</label> <a
								th:href="@{/rent/fileDown(file=${doc.hrPlan}+'`'+${list.rentalName}+'hrPlan'}">[[${list.rentalName}]]&nbsp;인력계획서 다운로드</a>
						</div>
						<div class="6u 12u$" style="margin-bottom: 20px">
							<label for="facPledge">시설관리서약서</label> <a
								th:href="@{/rent/fileDown(file=${doc.facPledge}+'`'+${list.rentalName}+'facPleadge'}">[[${list.rentalName}]]&nbsp;시설관리서약서 다운로드</a>
						</div>
						<div class="6u 12u$" style="margin-bottom: 20px">
							<label for="rentReason">임대희망사유</label> <span
								th:utext="${#strings.replace(doc.rentReason, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></span>
						</div>
					</div>
					<hr />
					<div align = "right">
						<input value="뒤로" onclick="javascript: history.back();"
								class="button alt" type="button"></li>
							<a th:href = "@{/rentDoc/mylist}" class = "button">목록으로</a>
						</div>
				</div>
			</div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
    <!-- Scripts -->
			<script th:src=@{/static/assets/js/jquery.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrolly.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
			<script th:src=@{/static/assets/js/skel.min.js}></script>
			<script th:src=@{/static/assets/js/util.js}></script>
			<script th:src=@{/static/assets/js/main.js}></script>

	</body>

</html>