<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
     layout:decorator="layout">

<head>
    <title>the Palace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href=@{/static/assets/css/main.css} />
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header" th:include="thymeleaf/header.html"></header>

    <!-- Nav -->
    <nav id="menu" th:include="thymeleaf/nav.html"></nav>

    <!-- Registration Form -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="image fit">
                    <img th:src=@{static/images/topbanner7.jpg} alt="" />
                </div>
                <div class="content">
                    <h2 class="align-center">직원교육등록</h2>
                    <hr />
                    <form th:action="@{/etrn/regist}" method="post" name = "etrainingRegist">
                        <table>
                            <tbody>
                            	<tr>
                                    <td width="10%" valign="top" >
                                        <label for="departmentNo">대상부서</label>
                                       <select th:name="departmentNo">
											<option>선택</option>
										<span th:each = "list : ${list}">
											<option th:value="${list.departmentNo}">[[${list.departmentName}]]</option>
										</span>
										</select>
                                    </td>
                                    <td width="10%" valign="top">
                                        <label for="curriculumName">강의명</label>
                                        <input name="curriculumName" type="text" placeholder="강의명을 입력하세요">
                                    </td>
                                    <td width="10%" valign="top">
                                        <label for="trainingTerm">강의기간</label>
                                        <input name="trainingTerm" type="text" placeholder="2020.01.01~2020.12.31">
                                    </td>
                            		
                            	</tr>
                                <tr>
                                    <td width="8%" valign="top">
                                        <label for="traineeMaxnum">정원</label>
                                        <input name="traineeMaxnum" type="number" >
                                    </td>
                                    <td>
                                        <label for="necessity">선필여부</label>
	                                        <select name = "necessity">
	                                        	<option value = null>select</option>
	                                        	<option value = "X">선택</option>
	                                        	<option value = "O">필수</option>
	                                        </select>
                                     </td>
                                     <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="actions align-right">
                            <li><input value="뒤로" onclick="javascript: history.back();" class="button alt"
                                    type="button">
                            </li>
                            <li><input value="작성완료" class="button" type="submit"></li>
                        </ul>                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
    <!-- Scripts -->
 			<script th:src=@{/static/assets/js/jquery.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrolly.min.js}></script>
			<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
			<script th:src=@{/static/assets/js/skel.min.js}></script>
			<script th:src=@{/static/assets/js/util.js}></script>
			<script th:src=@{/static/assets/js/main.js}></script>

	</body>
	<script th:src=@{http://code.jquery.com/jquery.min.js}></script>
<script>
    $(function () {
        includeLayout();
    });

    function includeLayout() {
        var includeArea = $('[data-include]');
        var self, url;
        $.each(includeArea, function () {
            self = $(this);
            url = self.data("include");
            self.load(url, function () {
                self.removeAttr("data-include");
            });
        });
    }
</script>

</html>