<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "finalProject.mapper.ApplicantMapper">
   <sql id = "columns">
      ACCEPT_NO, APPLICANT_ID, APPLICANT_PW, APPLICANT_NAME, APPLICANT_ENAME, 
      APPLICANT_BIRTH, APPLICANT_ADDR, APPLICANT_PH, APPLICANT_EMAIL, APPLICANT_CONTENT, PI_AGREE
   </sql>
   <insert id="registApplicant" parameterType="finalProject.domain.ApplicantDTO">
      insert into APPLICANTS (<include refid = "columns"/>)
      values(#{acceptNo}, #{applicantId}, #{applicantPw}, #{applicantName}, #{applicantEname}, 
      #{applicantBirth}, #{applicantAddr}, #{applicantPh}, #{applicantEmail}, #{applicantContent}, #{piAgree})       
   </insert>
   <resultMap type="finalProject.domain.ApplicantDTO" id="ApplicantsList">
      <id column = "ACCEPT_NO" jdbcType = "VARCHAR" property = "acceptNo"/>
      <result column = "APPLICANT_ID" jdbcType = "VARCHAR" property = "applicantId"/>
      <result column = "APPLICANT_PW" jdbcType = "VARCHAR" property = "applicantPw"/>
      <result column = "APPLICANT_NAME" jdbcType = "BIGINT" property = "applicantName"/>
      <result column = "APPLICANT_ENAME" jdbcType = "VARCHAR" property = "applicantEname"/>
      <result column = "APPLICANT_BIRTH" jdbcType = "VARCHAR" property = "applicantBirth"/>
      <result column = "APPLICANT_ADDR" jdbcType = "VARCHAR" property = "applicantAddr"/>
      <result column = "APPLICANT_PH" jdbcType = "VARCHAR" property = "applicantPh"/>
      <result column = "APPLICANT_EMAIL" jdbcType = "VARCHAR" property = "applicantEmail"/>
      <result column = "APPLICANT_CONTENT" jdbcType = "VARCHAR" property = "applicantContent"/>
      <result column = "PI_AGREE" jdbcType = "VARCHAR" property = "piAgree"/>
   </resultMap>
   <select id="getApplicantsList" resultMap = "ApplicantsList" parameterType = "finalProject.domain.StartEndPageDTO">
      select rn, <include refid = "columns"/> 
         from(select <include refid = "columns"/>, rownum rn 
               from(select <include refid="columns"/>
                  from applicants
                  <trim prefix="where" prefixOverrides="AND|OR">
                     <if test="num != null">
                        accept_no like concat(#{num},'%')
                     </if>
                     <if test="userId != null">
                        and applicant_id = #{userId}
                     </if>
                  </trim>
                  order by accept_no desc))
      where rn between #{startPage} and #{endPage}
   </select>
   <select id="getFinalists" resultMap = "ApplicantsList">
      select a.ACCEPT_NO as ACCEPT_NO, APPLICANT_ID, APPLICANT_PW, APPLICANT_NAME, APPLICANT_ENAME, 
      APPLICANT_BIRTH, APPLICANT_ADDR, APPLICANT_PH, APPLICANT_EMAIL, APPLICANT_CONTENT, PI_AGREE
         from applicants a
         join emp_interview e
         on a.accept_no = e.accept_no
         where tot_score > 12
   </select>
   <update id="updateEtraining" parameterType = "finalProject.domain.EtrainingDTO">
      update emp_training
      set DEPARTMENT_NO = #{departmentNo}, CURRICULUM_NAME = #{curriculumName},
         TRAINING_TERM = #{trainingTerm}, 
         TRAINEE_MAXNUM = #{traineeMaxnum}, NECESSITY = #{necessity}
      where TRAINING_NO = #{trainingNo}
   </update>
   <delete id = "deleteEtraining" parameterType = "string">
      delete from emp_training where training_no = #{trainingNo}
   </delete>

</mapper>