<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "finalProject.mapper.EmpInterviewMapper">
	<sql id = "columns">
		INTERVIEW_NO, DEPARTMENT_NO, ACCEPT_NO, PAPER_SCORE, INTERVIEW_SCORE, EXAM_GUIDE, TOT_SCORE
	</sql>
	<sql id = "no">
		select nvl(max(interview_no),0)+1 from emp_interview
	</sql>
	<insert id="insertPaperScore" parameterType="finalProject.domain.EmpInterviewDTO">
		insert into EMP_INTERVIEW (INTERVIEW_NO, DEPARTMENT_NO, ACCEPT_NO, PAPER_SCORE, EXAM_GUIDE, TOT_SCORE)
		values((<include refid="no"/>), #{departmentNo}, #{acceptNo}, #{paperScore}, #{examGuide}, #{paperScore}) 		
	</insert>
	<resultMap type="finalProject.domain.EmpInterviewDTO" id="empScoreList">
		<id column = "INTERVIEW_NO" jdbcType = "VARCHAR" property = "interviewNo"/>
		<id column = "DEPARTMENT_NO" jdbcType = "VARCHAR" property = "departmentNo"/>
		<id column = "ACCEPT_NO" jdbcType = "VARCHAR" property = "acceptNo"/>
		<result column = "PAPER_SCORE" jdbcType = "BIGINT" property = "paperScore"/>
		<result column = "INTERVIEW_SCORE" jdbcType = "BIGINT" property = "interviewScore"/>
		<result column = "EXAM_GUIDE" jdbcType = "VARCHAR" property = "examGuide"/>
		<result column = "TOT_SCORE" jdbcType = "BIGINT" property = "totScore"/>
	</resultMap>
	<select id="getScore" resultMap = "empScoreList" parameterType = "finalProject.domain.StartEndPageDTO">
		select <include refid = "columns"/>
				from emp_interview
						<trim prefix="where" prefixOverrides="AND|OR">
							<if test="num != null">
								and accept_no =#{num}
							</if>
						</trim>
	</select>
	<update id="updateScore" parameterType = "finalProject.domain.EmpInterviewDTO">
	update emp_interview
	set interview_score = #{interviewScore}, exam_guide = #{examGuide}, tot_score = tot_score+#{interviewScore}
	where accept_no = #{acceptNo}
	
	</update>

</mapper>