<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>the Palace</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/static/assets/css/main.css}" />
<style type="text/css">
td{background-color : white;}
</style>
</head>
<body>
	<!-- Header -->
	<header role="header" th:include="thymeleaf/header" id="header">
		<a href="#menu" class="toggle"><span>메뉴</span></a>
	</header>

    <!-- Nav -->
    <nav id="menu" th:include="thymeleaf/nav"></nav>
	
	<!-- Registration Form -->
	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="box">
				<div class="content">
					<form th:action="@{/notice/noticeModify}" method="post" name="noticeModify">
					<input type="hidden" name = "noticeNo" th:value="${ndto.noticeNo}" />
						<h2 class="align-center">공지사항게시판 글수정</h2>
						<div class="table-wrapper">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<div align="center">작성자</div>
								</td>
								<td>
									<input type="text" name = "employeeNo" id="employeeNo" th:value = "${ndto.employeeNo}"/>
								</td>
							</tr>
							
							<tr>
								<td>
									<div align="center">제 목</div>
								</td>
								<td>
									<input name="noticeSub" type="text" th:value = "${ndto.noticeSub}" maxlength="70" />
								</td>
							</tr>

							<tr>
								<td>
									<div align="center">내 용</div>
								</td>
								<td>
									<textarea name="noticeCon" cols="50" rows="10" th:value = "${ndto.noticeCon}">[[${ndto.noticeCon}]]</textarea>
								</td>
							</tr>

							 
							<tr align="right" >
								<td colspan="5">
									<input value="뒤로" onclick="javascript: history.back();" 
											class="button alt" type="button">
									<input value="등록" class="button" type="submit">
								</td>
							</tr>
						</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- Footer -->	
	<footer id="footer" class="wrapper" th:include="thymeleaf/footer"></footer>
		
	<!-- Scripts -->
	<script th:src=@{/static/assets/js/jquery.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrolly.min.js}></script>
	<script th:src=@{/static/assets/js/jquery.scrollex.min.js}></script>
	<script th:src=@{/static/assets/js/skel.min.js}></script>
	<script th:src=@{/static/assets/js/util.js}></script>
	<script th:src=@{/static/assets/js/main.js}></script>
</body>
<script src="http://code.jquery.com/jquery.min.js"></script>
</html>